<html>

<head>
    <title>LogiPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    
    
    <script src="./bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./bootstrap-4.6.1-dist/css/bootstrap.min.css">
    
    <style>
body {
  background-color: hsl(89, 43%, 51%);
}
</style>


</head>

<body ng-app="ttapp">
  <div class="container mt-5" ng-controller="login">
    <div class="row d-flex justify-content-center" ng-show="userLogout">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="loginform">
                <div class="form-data">
					<center><img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/UTM-LOGO-FULL.png" alt="UTM" style="width:120px;height:50px;"> </center><br>
                    <div class="forms-inputs mb-4"> <span>Username</span> <input autocomplete="off" type="text" ng-model="login">
                    </div>
                    <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password" ng-model="password">
                    </div>
                    <div class="mb-3"> <button class="btn btn-dark w-100" ng-click="doAuth()">Login</button> </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center" ng-show="userLogin">
		
		<div class="container" ng-app="ttApp">
        <nav class="navbar navbar-light bg-light navbar-expand sticky-top" style="overflow-y: scroll">
          <a class="navbar-brand" href="#">Home</a>
          <a class="navbar-brand" href="sessem.html">Session/Semester</a>
          <a class="navbar-brand" href="course.html">Courses</a>
          <a class="navbar-brand" href="lecturer.html">Lecturers</a>
          <a class="navbar-brand" href="student.html">Students</a>
          <a class="navbar-brand" href="timetable.html">Timetable</a>
        </nav>
    </div>
		
        <div class="col-md-6">
            <div class="card px-5 py-5" id="logininfo">
                <div class="form-data">
                    <div class="forms-inputs mb-4"> <span>Username: {{session_info.full_name}}</span>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Status: {{session_info.description}}</span>
                    </div>
                    <div class="mb-3"> <button class="btn btn-dark w-100" ng-click="doLogout()">Logout</button> </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  

</body>

<script>
    //sessionStorage.setItem("session_id", "185889838136066");
    //sessionStorage.setItem("session_id", "362017292774547");
    
    var app = angular.module("ttapp", ["ngRoute"]);
    
    
  app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
      templateUrl : "mainPage.html"
    })
    .when("/sessem", {
      templateUrl : "sessem.html"
    })
    .when("/courses", {
      templateUrl : "list-courses-angjs-paginate-v9.html"
    })
    .when("/lecturers", {
      templateUrl : "list-lecturers-angjs-paginate-v9.html"
    })
    .when("/lecturer_courses", {
      templateUrl : "list-lecturer-courses.html"
    })
  });
  
    // Register controller 
    app.controller(
        'login',
        function ($scope, $http) {
            
            
            $scope.userLogout = true;
            $scope.userLogin = false;
            
            var session_id = sessionStorage.getItem("session_id");
            
            if (session_id) {
                alert("user may already login");
                var auth_url = "http://web.fc.utm.my/ttms/web_man_webservice_json.cgi?entity=authentication&session_id=" + session_id;
                
                
                var ajax = $http({ method: "GET", url: auth_url});

                ajax.then(
                    function success(res) { ajaxSuccess(res) },
                    function error(res) { ajaxError(res) }
                );

                function ajaxSuccess(res) {
                    console.log(res.data);
                    
                    if (res.data) {
                        console.log("valid session");
                        console.log(res.data[0]);
                        
                        $scope.session_info = res.data[0];
                        
                        $scope.userLogout = false;
                        $scope.userLogin = true;
                    } else {
                        console.log("session invalid");
                    }
                }

                function ajaxError(res) {
                    //console.log(res);
                    alert("AJAX connection error!");
                }
            }
            
            $scope.doAuth = function() {
                if ($scope.login && $scope.password) {
                    console.log("login=" + $scope.login);
                    console.log("password=" + $scope.password);
                    
                    var auth_url = "http://web.fc.utm.my/ttms/web_man_webservice_json.cgi?entity=authentication&login=" + $scope.login + "&password=" + $scope.password;
                    console.log(auth_url);
                    var ajax = $http({ method: "GET", url: auth_url});

                    ajax.then(
                        function success(res) { ajaxSuccess(res) },
                        function error(res) { ajaxError(res) }
                    );

                    function ajaxSuccess(res) {
                        console.log(res.data);
                        
                        if (res.data) {
                            console.log("login success");
                            console.log(res.data[0]);
                            sessionStorage.setItem("session_id", res.data[0].session_id);
                            
                            $scope.session_info = res.data[0];
                            
                            $scope.userLogout = false;
                            $scope.userLogin = true;
                            
                        } else {
                            console.log("login fail");
                        }
                    }

                    function ajaxError(res) {
                        //console.log(res);
                        alert("AJAX connection error!");
                    }
                } else {
                  alert("Please provide login & password!");
                }
            }
            
             $scope.doLogout = function() {
                alert("Try to logout");
                $scope.userLogout = true;
                $scope.userLogin = false;
                sessionStorage.clear();
             }
        }
    );
  
</script>

<script>
  var app = angular.module("ttApp", ["ngRoute"]);

  app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
      templateUrl : "mainPage.html"
    })
    .when("/sessem", {
      templateUrl : "sessem.html"
    })
    .when("/courses", {
      templateUrl : "list-courses-angjs-paginate-v9.html"
    })
    .when("/lecturers", {
      templateUrl : "list-lecturers-angjs-paginate-v9.html"
    })
    .when("/lecturer_courses", {
      templateUrl : "list-lecturer-courses.html"
    })
  });
</script>





